
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    
    font-family: Nunito,sans-serif;
    min-height: 100vh;
    background-color: #c9ced3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

.bg-container{
    position: fixed;
    top:-50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}

.bg-container img{
    position: absolute;
    /*
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;*/
    inset: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    filter: blur(15px);
    -webkit-filter: blur(15px);
    transform: scale(1.1);
}

.player-container{
    height: 500px;
    width: 400px;
    background-color: #e7e7e7;
    border-radius: 20px;
    box-shadow: 0px 15px 30px 5px rgba(0,0,0,0.3);
}

.img-container{
    width: 300px;
    height: 300px;
    position: relative;
    top:-50px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img{
    height: 0px;
    width: 0px;
    opacity: 0;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 5px 30px 5px rgba(0,0,0,0.5);
    transition:all 0.25s;
}

.img-container img.active{
    opacity: 1;
    width: 100%;
    height: 100%;
    transition:all 0.25s;
}

h2{
    font-size: 25px;
    text-align: center;
    margin: 0px;
}

h3{
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin: 5px 0px 0px;
}

.progress-container{
    background-color:#81d4fa;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px;
    height: 4px;
    width: 90%;
}


.progress{
    background-color: #0d47a1;
    border-radius: 5px;
    height: 100%;
    width: 0px;
    transition: width 0.1s linear;
    position: relative;
    top:-7px;
    z-index: 5;
}

.duration-wrapper{
    position: relative;
    top:-30px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.player-controls{
    position: relative;
    top:-15px;
    left:120px;
    width:200px;
}

.fas{
font-size: 30px;
color: rgb(129,129,129);
margin-right: 30px;
cursor: pointer;
user-select: none;
}

.fas:hover{
    filter: brightness(80%);
}

.main-button{
    margin-right: 25px;
    font-size: 40px;
    position: relative;
    top: 3px;
}

@media screen and (max-width:376px) {
    .player-container{
        width: 95vw;
    }
    .img-container{
        left: 29px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 15px;
    }
    .player-controls{
        top: -10px;
        left: 100px;
    }
    
}

.solidCircle{

    width: 7px;
    height: 7px;
    border-radius: 100%;
    position: relative;
   top:-1.5px;
   left:-2.3px;
   z-index: 10;
    background-color:#0d47a1 ;
    transition: transform 0.1s linear;
}

.main-button{
   /* transform: rotate(0deg);
     transition: transform 200ms;*/
}

.fa-pause{
    transform: rotate(90deg);
    animation-name: Animation1;
    animation-duration: 180ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes Animation1 {
    from{
        transform: rotate(90deg);
    }to{
        transform: rotate(180deg);
    }
    
}

@keyframes Animation2 {
    from{
        transform: rotate(90deg);
    }to{
        transform: rotate(0deg);
    }
}
.main-buttonClass2{
    animation-name: Animation2;
    animation-duration: 180ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}



